body{
    position: relative;
}



#info-container{

    
    position: absolute;
    margin-top: -10px;
    margin-left: 290px;
    width: 1060px;
    height: 620px;
    
}

                                /*AQUI INICIA EL CSS DE ModificarUsuario*/


                               /*AQUI FINALIZA EL CSS DE ModificarUsuario*/
.p-tablacanciones{
    position: absolute;
    left: 50px;
    font-size: 30px;
    color: rgb(25, 25, 112);
    font-weight: bold;
    border-style: groove;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color:rgb(154, 205, 50);;
    border-width: 1px;
    
}

table{
    text-align: left;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    border-bottom: 0px;
    top: 100px;
    left: 50px;
    width: 900px;
    padding-top: 10px;
    padding-left: 10px;
}

th{
    background-color: rgb(255, 69, 0);
    color: white;
    font-weight: bold;
    border-bottom: 1px solid rgb(25, 25, 112);
    width: 100px;
    padding: 10px;

}

td{
    border-bottom: 1px solid rgb(25, 25, 112);
    width: 100px;
    padding: 10px;
}


.boton-modificar{

    background-color: rgb(154, 205, 50);
    outline: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 80px;
    padding: 5px;
    border: 0px;
}

.boton-modificar:hover{
    background-color: rgba(66, 205, 50, 0.96);
    font-weight: bold;
}

.boton-eliminar{

    background-color: rgb(255, 0, 0);
    outline: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 80px;
    padding: 5px;
    border: 0px;
}

.boton-comentario{

    background-color: black;
    outline: none;
    color: white;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    padding: 5px;
    border: none;
}

.boton-comentario:hover{
    background-color: rgba(0, 0, 0, 0.812);
    font-weight: bold;
}

.foto-administrador{

    position: absolute;
    border-color: white;
    border-radius: 50%;
    border-style: groove;
    top: 30px;
    left: 80px;
    width: 150px;
    height: 150px;
    background-image: url('../images/usuario.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: -25px center;
}

.administrador{

    position: absolute;
    text-align: center;
    margin-top: 180px;
    margin-left: 0px;
    font-size: 15px;
    color: rgb(25, 25, 112);
    width: 300px;
    border-color:  rgb(152, 251, 152);
    
}


.boton-back{
    position: absolute;
    top: 550;
    left: 100px;
    width: 100px;
    height: 30px;
    border-width: 1px;
    background-color: red;
    border-color: rgb(154, 205, 50);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.boton-back:hover{
    background-color: black;
}