.banner-izquierdo{
    position: absolute;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, #2c0596, #7bddfe);
}

.cliente{

    position: absolute;
    margin-top: 185px;
    text-align: center;
    left: 0px;
    font-size: 15px;
    color: rgb(red, green, blue);
    background-color: red;
    
    width: 300px;
    height: 65px;
}

.btn-pagina-principal{

    position: absolute;
    margin-top: 250px;
    width: 100%;
    border-style: groove;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/casa.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}

.btn-pagina-principal:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-mi-perfil{

    position: absolute;
    margin-top: 290px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/user.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-mi-perfil:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-usuarios{

    position: absolute;
    margin-top: 330px;
    
    width: 100%;
    border-width: 1px;
    
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/usuarios.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-usuarios:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-comentarios{

    position: absolute;
    margin-top: 370px;
    width: 100%;
    border-width: 1px;
    background-color: white;
    border-color:rgb(255, 0,0);
    border-style: groove;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/comentarios.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-comentarios:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-cargar-canciones{

    position: absolute;
    margin-top: 410px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/cancion.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-cargar-canciones:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-solicitudes{

    position: absolute;
    margin-top: 450px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    color: white;
    font-weight: 300;
    height: 40px;
    background: url('../images/cancion.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-solicitudes:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-playlist{

    position: absolute;
    margin-top: 330px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/cancion.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-playlist:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-solicitar{

    position: absolute;
    margin-top: 370px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/usuarios.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-solicitar:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.boton-back{
    position: absolute;
    top: 550;
    left: 100px;
    width: 100px;
    height: 30px;
    border-width: 1px;
    background-color: red;
    border-color: rgb(154, 205, 50);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.boton-back:hover{
    background-color: black;
}