body{
    position: relative;
}

.banner-izquierdo{
    position: absolute;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    width: 300px;
    height: 100%;
    background-color: rgb(152, 251, 152);
}

#info-container{

    
    position: absolute;
    margin-top: -10px;
    margin-left: 290px;
    width: 1060px;
    height: 620px;
    
}

.p-tablacanciones{
    position: absolute;
    left: 50px;
    font-size: 30px;
    color: rgb(25, 25, 112);
    font-weight: bold;
    border-style: groove;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color:rgb(154, 205, 50);;
    border-width: 1px;
    
}

.foto-cliente{

    position: absolute;
    border-color: white;
    border-radius: 50%;
    border-style: groove;
    top: 30px;
    left: 80px;
    width: 150px;
    height: 150px;
    background-image: url('../images/usuario.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: -25px center;
}




.btn-playlist{

    position: absolute;
    margin-top: 330px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/cancion.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-playlist:hover{
    background: black;
    color: white;
    font-weight: bold;
}

.btn-solicitar{

    position: absolute;
    margin-top: 370px;
    width: 100%;
    border:none;
    border-bottom: 2px solid rgba(66, 216, 223, 0.9);
    height: 40px;
    background: url('../images/usuarios.png') 4px center, linear-gradient(to right, #2c0596, #7bddfe);
    background-repeat: no-repeat, no-repeat;
    background-position: 4px center, center; /* Ícono a la izquierda, gradiente centrado */
    background-size: 25px, 100% 100%;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.btn-solicitar:hover{
    background: black;
    color: white;
    font-weight: bold;
}



.boton-back{
    position: absolute;
    top: 550;
    left: 100px;
    width: 100px;
    height: 30px;
    border-width: 1px;
    background-color: white;
    border-color: rgb(154, 205, 50);
    color: black;
    border-radius: 10px;
    outline: none;
}

.boton-cerrarSesion{
    position: absolute;
    top: 20px;
    left: 900px;
    width: 100px;
    height: 30px;
    border-width: 1px;
    background-color: white;
    border-color: rgb(154, 205, 50);
    color: black;
    border-radius: 10px;
    outline: none;
}

table{
    text-align: left;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    border-bottom: 0px;
    top: 100px;
    left: 50px;
    width: 900px;
    padding-top: 10px;
    padding-left: 10px;
}

th,td{
    border-bottom: 1px solid rgb(25, 25, 112);
    width: 100px;
    padding: 10px;
}
